:root {
  --main-text-color: #757575;
  --focus-color: #2196f3;
  --focus-text-color: #ffffff;
  --primary-white: #ffffff;
  --logo-black: #000000;
  --logo-white: #ffffff;
  --inactive-black: #212121;
  --button-grey: #f5f4fa;
  --icon-inactive: #afb1b8;

  --cubic-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  display: flex;
  margin: 0;
  text-decoration: none;
}

.logo__text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--focus-color);
}

.logo__text--web {
}

.logo__text--studio {
  color: var(--logo-black);
}
