/* Navigation */
.navigation__list {
  height: inherit;
  margin-left: 93px;
}

.navigation {
  display: flex;
  align-items: center;
  height: inherit;
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__item {
  position: relative;
  display: inline-block;
  height: inherit;
}

.navigation__list .link:hover,
.navigation__list .link:focus {
  color: $focus-color;
}

.navigation__list .link {
  @include flex-center();

  height: inherit;
  color: $inactive-black;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;

  transition: color 250ms $cubic-animation;
}
