/* DIDNT FIND */
/* .button {
  font-family: inherit;
  color: $inactive-black;
  cursor: pointer;

  background-color: $button-grey;
  border: none;
  border-radius: 4px;

  transition: color 250ms $cubic-animation,
    background-color 250ms $cubic-animation;
} */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.portfolio-buttons-list .portfolio-button {
  padding: 6px 22px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  color: $focus-text-color;
  background-color: $focus-color;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.our-activities {
  display: flex;
  justify-content: space-between;
}

.our-activities .item {
  position: relative;
  line-height: 0;
}

.our-activities .title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: $focus-text-color;
}

/* Features */
.is-hidden.section-title {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.features {
  display: flex;
  justify-content: space-between;
}

.features-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: $button-grey;
  border-radius: 4px;
}

.features-image {
  fill: $inactive-black;
}

.features .title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: $inactive-black;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features.list {
  margin-bottom: 94px;
}

.features-text {
  margin: 0;
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
}

/* Portfolio */

.is-hidden.portfolio-title {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  /* outline: 1px solid tomato; */
}

/* .portfolio li {
  outline: 1px solid tomato;
} */

.portfolio .item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.portfolio .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* Portfolio list*/
.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $inactive-black;
}

.portfolio .text {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-buttons-list .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio .item-border-container {
  padding-bottom: 20px;
  padding-left: 24px;
  height: 100%;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #eeeeee;
}

.item-border-container .title {
  margin-bottom: 4px;
}

.item-border-container .text {
  margin: 0;
}

.portfolio .link {
  display: flex;
  flex-direction: column;
}

.portfolio .link:hover,
.portfolio .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text-overlay img {
  vertical-align: bottom;
}

.text-overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay .paragraph {
  position: absolute;
  top: 100%;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 1.6;
  color: $focus-text-color;

  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;

  transition: transform 250ms $cubic-animation;
}

.portfolio .link:hover .text-overlay .paragraph {
  transform: translateY(-100%);
}

.subscribe-container {
  margin-left: 93px;
}

.subscribe-form {
  margin-top: 20px;
}

.subscribe-container .title {
  margin-top: 12px;
  font-size: 14px;
  text-transform: uppercase;
  color: $focus-text-color;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-right: 28px;

  color: $primary-white;
  font-weight: 700;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.96px;
  cursor: pointer;

  background: $focus-color;
  border: 1px solid $focus-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-button .icon {
  margin-left: 10px;
}
